<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header>
		<h1>User Show Page</h1>
		<h1> <%=user.username%> Info </h1>
		<nav class="navbar">
      	 	<button class="btn btn-outline-info btn-lg"><a href="/artist">Browse</a></button>
      	  	<button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
		</nav>
	</header>
	<main>

		<h2>User Attributes</h2>
		<ul>
			<li>Username: <%= user.username %></li>
			<li>Email: <%=user.email %></li>
		</ul>
		<a class="btn btn-outline-dark btn-sm" href="/user/<%= user.id %>/edit">Edit User</a>
			<form action="/user/<%= user.id %>?_method=DELETE" method="POST">
				<button class="btn btn-outline-danger btn-sm" type="submit">Delete User</button>
		</form>
	</main>
</body>
</html>
