<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <header>
      <nav>
        <button class="btn btn-outline-info btn-lg"><a href="/artist">Browse</a></button>
        <button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
      </nav>
    </header>

    <main>
      <h1> Edit <%=artist.name%>'s Information</h1>
      <form action="/artist/<%=artist.id%>?_method=PUT" method="POST"><br />
        <input type="text" name="name" placeholder="Name" value="<%=artist.name%>"><br />
        <input type="text" name="genre" placeholder="Genre" value="<%=artist.genre%>"><br />
        <input type="text" name="location" placeholder="Location" value="<%=artist.location%>"><br />
        <input type="text" name="website" placeholder="Website" value="<%=artist.website%>"><br />
        <input type="text" name="img" placeholder="Image Link" value="<%=artist.img%>"><br />
        <textarea name="description" rows="4" cols="40" placeholder="Description"><%=artist.description%></textarea><br />
        <button type="submit" name="button">Submit Changes</button>
      </form>
    </main>
    
  </body>
</html>
