<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Artist</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <header>
      <nav id="navbar">

				<ul class="nav navbar-left">
					<li class="active"><a id="nav-responsive" href="/">Home</a></li>
          <li><a id="nav-responsive" href="/user">Users</a></li>
          <li><a id="nav-responsive" href="/event">Events</a></li>
				</ul>

				<ul class="nav navbar-right">
					<li><a id="nav-responsive" href="/user/<%=currentUser.id%>">Back to User Profile</a></li>
				</ul>

      </nav>
  	</header>

<!--         NEW ARTIST FORM
 -->  <main>

          <div class="container-fluid text-center">
    				<div class="col-lg-12 col-sm-12">

              <h1 class="create-new">Create New Artist for <%=currentUser.username%></h1>

                <form action="/artist" method="POST"><br />

                  <select class="invisible" name="userId">
                      <option value="<%=currentUser._id%>"><%=currentUser.username%></option>
                  </select> <br/>

                <label class= "control-label" for="artistName">Artist Name:</label>
    						<input type="text" class= "form-control" name="name" id="artistName" placeholder="Name"><br />

    						<label class= "control-label" for="artistGenre">Genre:</label>
    						<input type="text" class= "form-control" name="genre" placeholder="Genre"><br />

    						<label class= "control-label" for="artistLocation">Location:</label>
    						<input type="text" class= "form-control" name="location" placeholder="Location"><br />

                <label class= "control-label" for="artistWebsite">Website:</label>
    						<input type="text" class= "form-control" name="website" placeholder="Website"><br />

    						<label class= "control-label" for="artistImage">Image Link:</label>
    						<input type="text" class= "form-control" name="avatar" placeholder="Image Link"><br />

    						<label class= "control-label" for="artistDescription">Artist Description:</label><br />
    						<input name="description" class="form-control" placeholder="Description"><br /><br />

    						<button id="new-submit" class="btn btn-dark mb-2 btn-block" type="submit">Create Artist</button>
    					</form>
    				</div>


        </div>
      </main>

  <footer class="container-fluid">
    <div class="col-lg-12 col-sm-12">
      <form action="/logout" method="GET">
        <input type="submit" class="btn btn-block form-control" id="logout" value="Logout <%=currentUser.username%>" />
      </form>
    </div>
  </footer>

  </body>
</html>
