<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  	<header>

	    <h1>Artist Show Page</h1>

	      <nav>
            <button class="btn btn-outline-info btn-lg"><a href="/artist">Browse</a></button>
            <button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
	      </nav>

 	</header>

 	<main>

    <h4> <%=artist.name%> Attributes </h4>
      <h6>Genre: <%=artist.genre%></h6>
      <h6>Location: <%=artist.location%></h6>
      <h6>Website: <a href="//<%=artist.website%>"><%=artist.website%></a></h6>
      <h6>Profile Picture: </h6> <img src="<%=artist.img%>">
      <h6>Description: <%=artist.description%></h6>


    <h4> <%=artist.name%> Members </h4>
      <ul>
        <% for (let i = 0; i < artist.usersWithAccess.length; i++) { -%>
          <li> <a href="/user/<%=artist.usersWithAccess[i].id%>"> <%= artist.usersWithAccess[i].username%></a></li>
        <% } -%>
      </ul>

 		<h4>Your Created Events</h4>

      <ul>
      <% for (let i = 0; i < artist.events.length; i++) { -%>
        <li><a href="/event/<%=artist.events[i]._id%>"> <%= artist.events[i].name%></a></li>
      <% } -%>
      </ul>

   		<button type="button" name="event"> <a href="/event/new">Create New Event</a></button>
   		<button type="button" name="user"><a href="/user">Back to Browsing</a> </button>

 	</main>

  <footer>

    <button class="btn btn-outline info btn-lrg"> <a href="/artist/<%= artist.id %>/edit">Edit <%=artist.name%> </a> </button>

    <form action="/artist/<%= artist.id %>?_method=DELETE" method="POST">
        <button class= "btn-outline info btn-lrg">Delete <%=artist.name%> </button>

  </footer>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="/js/app.js"></script>

  </body>
</html>
