<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  	<header>

	    <h1>Artist Show Page</h1>

	      <nav>
            <button class="btn btn-outline-info btn-lg"><a href="/artist">Browse</a></button>
            <button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
	      </nav>

 	</header>

 	<main>

 		<h4>Your Created Events</h4>

      <ul>
      <% for (let i = 0; i < artist.events.length; i++) { -%>
        <li>Events: <a href="/event/<%=artist.events[i].id%>"> <%= artist.events[i].name%></a></li>
      <% } -%>
      </ul>

   		<button type="button" name="event"> <a href="/event/new">Create New Event</a></button>
   		<button type="button" name="user"><a href="/user">Back to Browsing</a> </button>

 	</main>

  <footer>

    <button class="btn btn-outline info btn-lrg"> <a href="/artist/<%= artist.id %>/edit">Edit <%=artist.name%> </a> </button>

    <form action="/artist/<%= artist.id %>?_method=DELETE" method="POST">
        <button class= "btn-outline info btn-lrg">Delete <%=artist.name%> </button>

  </footer>

  </body>
</html>
