<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header>

    	<h1>Event Edit Page</h1>

      	<nav>

          <button class="btn btn-outline-info btn-lg"><a href="/artist">Browse</a></button>
          <button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>

      	</nav>

  	</header>

  	<main>

			<form action="/event/<%=event.id%>?_method=PUT" method="POST"><br />

				<input type="text" name="name" placeholder="Name" value="<%=event.name%>"><br />
				<input type="text" name="venue" placeholder="Venue" value="<%=event.venue%>"><br />
				<input type="text" name="date" placeholder="Date" value="<%=event.date%>"><br />
				<input type="text" name="img" placeholder="Image Link" value="<%=event.img%>"><br />
				<textarea name="description" rows="4" cols="40" placeholder="Description"><%=event.description%></textarea><br />

				<button type="submit" name="button">Submit Changes</button>

			</form>

  	</main>

</body>
</html>
