<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700|Work+Sans:200,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		body { padding-top: 10px; };
	</style>
</head>

<body>
	<header>
			<nav id="navbar">
				<div class="container-fluid">
						<ul class="nav navbar-left">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/user">Users</a></li>
							<li><a href="/artist">Artists</a></li>
						</ul>

					</div>
			</nav>

	</header>


	<div id="index-jumbo">
		<div class="jumbotron">
  		<div class="container text-center">
    		<h1 class = "indexHeader">Events</h1><br>

  		</div>
		</div>
	</div>



	<div class="d-flex justify-content-md-around">

					<%for (let i = 0; i < events.length; i++) {%>

									<div class="picContainer-fluid">
										<div class="col-med-6">
												<img src="<%=events[i].img%>" id="eventListPic" class="img-responsive" style="width:100%" alt="<%=events[i].name%> Image">
													<div class="overlay">
												<div class="linkText"> <p><a class="indexLink" href="/event/<%=events[i].id%>"><%=events[i].name%></a></p> </div>

											</div>
										</div>
									</div>

						<%}%>
			</div>

	<footer class="container-fluid text-center">
		<%if (loggedIn) { %>
			<form action="/logout" method="GET">
	   			<input type="submit" class="btn-block" id="logout" value="Logout <%=user.username%>" />
			</form>
		<%}%>
	</footer>


		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  	<script src="/js/app.js"></script>


</body>
</html>
