<!DOCTYPE html>
<html>
	<head>
		<title>Event Show Page</title>
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			body { padding-top: 10px;};

		</style>
		</head>

		<body>
			<header>
				<nav id="navbar">
						<div class="container-fluid">

								<ul class="nav navbar-left">
									<li class="active"><a href="/">Home</a></li>
									<li><a href="/user">Users</a></li>
									<li><a href="/artist">Artists</a></li>
								</ul>

								<ul class="nav navbar-right">
									<li><a href="/event"><span class="glyphicon glyphicon-plus"></span>Back to Events</a></li>
								</ul>
							</div>
						</div>
					</nav>

				</div>
			</header>


			<div class="container-fluid">
				<div class="col-lg-12 col-sm-12">
					<div class="row justify-content-around">


			    <div class="card-hovercard">

			        <div class="card-background">
			            <img class="card-bkimg" alt="<%=event.name%> Image" src="<%=event.img%>">
			            <!-- Img here-->
			        	</div>

			        	<div class="card-info"> <span class="card-title"><h3> <%=event.name%></h3></span>

			        			<%for (let i = 0; i < users.length; i++) {%>
			        				<a href="/event/<%=event.id%>/addUser/<%=users[i].id%>">
			        			<%}%>
			        				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Attend <%=event.name%></a>
			      	</div>
			    	</div>
					</div>
<<<<<<< HEAD


=======
								
>>>>>>> 546738995fd2c1370657e7e6964ab50bcc1a443f

			    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
			        <div class="btn-group" role="group">
			            <button type="button" id="stars" class="btn btn-dark" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
			                <div class="hidden-xs">About</div>
			            </button>
			        </div>


							<div class="btn-group" role="group">
			            <button type="button" id="eventArtists" class="btn btn-light" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			                <div class="hidden-xs">Artists</div>
			            </button>
			        </div>

							<div class="btn-group" role="group">
			            <button type="button" id="going" class="btn btn-light" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			                <div class="hidden-xs">Going</div>
			            </button>
			        </div>

			    </div>

			      <div class="well">
					      <div class="tab-content">

					        <div class="tab-pane fade in active" id="tab1">
										<h2>Event Details</h2>
										<ul>
											<li>Name: <%= event.name %></li>
											<li>Description: <%=event.description %></li>
											<li>Venue: <%= event.venue %></li>
											<li>Date: <%= event.date %></li>
										</ul>
					        </div>


									<div class="tab-pane fade in" id="tab2">
					          <h3>Affiliated Artists</h3>
					          	<ul>
						          	<% for (let i = 0; i < event.hostArtists.length; i++) { -%>
						          		<li><a href="/artist/<%=event.hostArtists[i].id%>"><%=event.hostArtists[i].name%></a></li>
						          	<% } -%>
					          	</ul>
					        </div>

					        <div class="tab-pane fade in" id="tab3">
					          <h3>Users Attending: <%= event.usersAttending.length %></h3>
					          <ul> <% for (let i = 0; i < event.usersAttending.length; i++) { -%>
		                        <li> <a href="/user/<%=event.usersAttending[i].id%>"> <%=event.usersAttending[i].username%> </a></li>
		                          <% } -%>
		                      </ul>

					        </div>
					     </div>
			    	</div>
			    </div>
				</div>

				<div class="col-lg-12 col-sm-12">
					<a class="btn btn-light btn-sm btn-block" id="edit-event" href="/event/<%= event.id %>/edit">Edit Event</a>
						<form action="/event/<%= event.id %>?_method=DELETE" method="POST">
							<button class="btn btn-outline-danger btn-sm btn-block" type="submit">Delete Event</button>
					</form>
				</div>



		</body>
		</html>



	<footer class="container-fluid text-center">
		<button class="btn-block" id="logout">Log Out</button>
	</footer>



		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  		<script src="/js/app.js"></script>

</body>
</html>
